* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EFEAE3;
    font-family: 'Neue Haas Grotesk Display Pro';

}

.container {
    max-width: 1460px;
    margin: 0 auto;
}

.container-fluid {
    max-width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding: 10px;
    margin: 10px 0;
}

:root {
    --primary-color: ;
    --secondary-color: ;
    --white: #fff;
    --fs-14: 14px;
    --fs-18: 18px;
    --fs-24: 24px;
    --fs-60: 60px;
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;
    --fw-900: 900;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.d-none {
    display: none;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

a {
    text-decoration: none;
    transition: .2s;
}

.overflow-hidden {
    overflow: hidden;
}

img {
    display: block;
    max-width: 100%;
}

ul li {
    list-style: none;
}

body {
    margin: 0;
    font-family: Arial;
    background: #f4f4f4;
    background-image: url('img/background.jpg');
}

header {
    background: #ffffff;
    color: rgb(52, 52, 52);
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.main {
    display: flex;
    padding: 20px;
}

.recipe-list {
    width: 35%;
}

.recipe-list li {
    list-style: none;
    background: white;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 5px;
}

.recipe-list li.active {
    background: #2f80ed;
    color: white;
}

.recipe-list img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
}

.recipe-view {
    width: 60%;
    margin-left: 20px;
}

.recipe-view img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
}

.modal-box {
    background: white;
    width: 300px;
    padding: 20px;
    margin: 100px auto;
}

.modal-box input {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 8px;
}

#editBtn ,#addBtn{
    background: #2f80ed;
    color: black;
    width: 80px;
    height: 40px;
    border: 0;
    border-radius: 8px;

}

.detail {
    background-color: white;
    border-radius: 8px;
    margin: 20px 0 0 0;
    line-height: 35px;
    padding-left: 10px;
}

