* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EFEAE3;
    font-family: 'Neue Haas Grotesk Display Pro';

}

.container {
    max-width: 1460px;
    margin: 0 auto;
}

.container-fluid {
    max-width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding: 10px;
    margin: 10px 0;
}

:root {
    --primary-color: ;
    --secondary-color: ;
    --white: #fff;
    --fs-14: 14px;
    --fs-18: 18px;
    --fs-24: 24px;
    --fs-60: 60px;
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;
    --fw-900: 900;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.d-none {
    display: none;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

a {
    text-decoration: none;
    transition: .2s;
}

.overflow-hidden {
    overflow: hidden;
}

img {
    display: block;
    max-width: 100%;
}

ul li {
    list-style: none;
}
body{
    background:#111;
    font-family: Arial, sans-serif;
}
.header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 30px;
  background:#ffffff;
  color:#333;
}
#result{
    display:flex;
    gap:20px;
    overflow-x:auto;
    padding:20px;
}
#result::-webkit-scrollbar{
    height:6px;
}
#result::-webkit-scrollbar-thumb{
    background:#fff;
    border-radius:10px;
}
#result1{
    display:flex;
    gap:20px;
    overflow-x:auto;
    padding:20px;
}
#result1::-webkit-scrollbar{
    height:6px;
}
#result1::-webkit-scrollbar-thumb{
    background:#fff;
    border-radius:10px;
}

.card{
    min-width:30%;
    background:#fff;
    color:#000;
    border-radius:16px;
    padding:18px;
    display:flex;
    gap:20px;
    height: 250px;
    align-items:center;
    box-shadow:0 10px 30px rgba(255,255,255,0.1);
    transition:0.3s;
}
.card:hover{
    transform:translateY(-5px);
}

.card img{
    width:100px;
    height:100px;
    object-fit:contain;
    background:#f5f5f5;
    border-radius:12px;
    padding:10px;
}

.card h3{
    font-size:16px;
    margin:0;
}
.card p{
    font-size:13px;
    color:#555;
}

.price{
    font-size:18px;
    font-weight:bold;
    margin:5px 0;
}

.AddToCart{
    margin-top:8px;
    padding:8px 14px;
    background:#000;
    color:#fff;
    border:none;
    border-radius:8px;
    cursor:pointer;
    transition:0.3s;
}
.AddToCart:hover{
    background:#333;
}

.cart-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
}

.title {
  text-align: center;
  margin: 20px 0;
  color: white;
}

.cart-container {
  max-width: 700px;
  margin: auto;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 15px;
  background: #fff;
  padding: 15px;
  margin-bottom: 12px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

.cart-item img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.cart-info {
  flex: 1;
}

.cart-info h4 {
  margin: 0;
  font-size: 15px;
}

.price {
  font-weight: bold;
  margin-top: 6px;
}

.qty-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.qty-box button {
  width: 32px;
  height: 32px;
  border: none;
  background: #000;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
}

.qty-box span {
  min-width: 20px;
  text-align: center;
  font-weight: bold;
}

.total {
  text-align: center;
  margin-top: 20px;
  color: white;

}

