* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EFEAE3;
    font-family: 'Neue Haas Grotesk Display Pro';

}

.container {
    max-width: 1460px;
    margin: 0 auto;
}

.container-fluid {
    max-width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding: 10px;
    margin: 10px 0;
}

.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

:root {
    --primary-color: ;
    --secondary-color: ;
    --white: #fff;
    --fs-14: 14px;
    --fs-18: 18px;
    --fs-24: 24px;
    --fs-60: 60px;
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;
    --fw-900: 900;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.d-none {
    display: none;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

a {
    text-decoration: none;
    transition: .2s;
}

.overflow-hidden {
    overflow: hidden;
}

img {
    display: block;
    max-width: 100%;
}

ul li {
    list-style: none;
}

body {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    background: #333;
}

.title {
    margin-bottom: 20px;
}

h1 {
    font-family: poppins;
    font-size: 60px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    justify-content: center;
    margin: 0 auto;
}

.box {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

.box:hover {
    background-color: #333;
}

 