.salary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    min-height: 100vh;
}


.salary h1 {
    font-size: 32px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    color: #333;
}

.salary-box {
    width: 900px;
    background: linear-gradient(135deg, #f4f6fa 0%, #aab7ca 100%);
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    padding: 30px;
}

.row {
    display: flex;
    gap: 20px;
}

.col-6 {
    width: 50%;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.full-width {
    grid-column: span 2;
}

label {
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

input,
select {
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: 'Poppins', sans-serif;
}

button {
    padding: 12px;
    background-color: #3c3f41;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

button:hover {
    background-color: #2b2d2f;
}
h4{
    font-family: 'Poppins', sans-serif;
    color: #333;
    text-align: center;
    font-size: 20px;
    padding: 0 30px;
} 